/* -----------------------------
   Global reset & page layout
------------------------------ */

body {
    margin: 0;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}


/* -----------------------------
   Main board container
------------------------------ */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    max-width: 600px;
    max-height: 600px;
    
    margin: 50px auto;
    background-color: #1B244A;
    border-radius: 5px;
}

/* -----------------------------
   Team columns
------------------------------ */

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 300px;
    max-height: 350px;
    
    padding: 10%;
}

/* -----------------------------
   Titles
------------------------------ */

.board-title {
    color: #EEEEEE;
    font-size: 32px;
    margin: 0 0 20px 0;
}


/* -----------------------------
   Score display
------------------------------ */

.score-box {
    width: 120px;
    height: 90px;

    background-color: #080001;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 25px;
}

.points-text {
    color: #F94F6D;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

/* -----------------------------
   Buttons row
------------------------------ */

.add-points-row,
.points-row {
    display: flex;
    gap: 10px;
}

/* -----------------------------
   Buttons
------------------------------ */

.points-btn {
    width: 45px;
    height: 45px;

    background-color: transparent;
    color: #9AABD8;

    border: 2px solid #9AABD8;
    border-radius: 5px;

    font-size: 18px;
    cursor: pointer;
}

.points-btn:hover {
    background-color: #9AABD8;
    color: #1B244A;
}
.points-text {
    color: #F94F6D;
    margin: 50%;
}

/* When the screen is 600px wide or less */
@media (max-width: 400px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }
}